body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(242, 241, 241);
}

#main {
display: flex;
flex-wrap: wrap;
}

.d-none {
    display: none;
}
.container-fluit {
    margin: 20px;
    background-color: rgb(242, 241, 241);
    display: flex;

}

#newProject {
    z-index: 1;
    width: 600px;
   
    background-color: white;
}